
.header__navbar {
  background-color: $primary;
  color: $secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 75px;
  padding-right: 75px;
  height: 100px;

  
}

.header__navbar-logo {
  width: auto;
  height: 90%;
}

.header__navbar-list {
  display: flex;
  height: 75px;
  justify-content: center;
  list-style-type: none;
  align-items: center;

  .header__navbar-list-item {
    text-decoration: none;
    outline: 0;
    margin-right: 50px;
    font-size: 20px;

    button {
      font-size: 20px;
      width: 100px;
      height: 40px;
    }
  }
}

.header__user-nav {
  display: flex;
  align-items: center;
}

$header-user-avatar-ml: 25px;
.header__user-avatar {
  width: 75px;
  height: 75px;
  margin-left: $header-user-avatar-ml;
  cursor: pointer;
}

$user-menu-padding: 10px;
.header__user-menu {
  position: absolute;
  list-style: none;
  display: inline-block;
  z-index: 99;
  margin-top: 10px;
  padding: $user-menu-padding;
  padding-bottom: 15px;
  border-radius: 5px;
  right: 75px-$user-menu-padding/2 - $header-user-avatar-ml/2;
  color: $secondary;
  background-color: darken($color: $primary, $amount: 10);

  a, li {
    text-decoration: none;
    color: $secondary;
    background-color: $primary;
    border-radius: 15px;
    margin-top: 15px;
    width: 100px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
  }
}

.active {
  background-color: darken($color: $primary, $amount: 10) !important;
  border-radius: 10px;
}
