.main__screen {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 20px;
  margin-top: 10px;
}

.main__categories {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 15%;
  padding-left: 20px;
  a {
    margin-bottom: 5px;
    text-align: center;
    width: 100px;
    color: black;

    &:hover{
      background-color: darken($color: $secondary, $amount: 20);
      border-radius: 10px;
    }
  }
}

.main__recomendations {
  width: 100%;
  margin-right: 30px;
  margin-left: 30px;
}

.main__carrousel {
  width: 100%;
}

.main__manga-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 200px;
  height: 230px;
}

.main__manga-card-footer {
  h3 {
    text-align: center;
    color: $dark-grey;
  }
}

.main__search {
  margin-bottom: 20px;
  border: 1px solid lightgrey;
  font-size: 18px;
  height: 40px;
  width: 80%;
  border-radius: 5px;
  text-indent: 10px;

  transition: border-bottom 0.5s ease;

  &:focus {
    border-bottom: 1px solid $primary;
    outline: none;
  }
}

.main__results{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}