.main__screen {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 20px;
  margin-top: 10px;
}

.main__categories {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 20%;
  li {
    margin-bottom: 5px;
  }
}

.main__recomendations {
  width: 100%;
  margin-right: 30px;
}

.main__carrousel{
  width: 100%;
}

.main__manga-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 200px;
  height: 230px;
}

.main__manga-card-footer{
  h3{
    text-align: center;
    color: $dark-grey;
  }
}