
.manga-details__details-info{
    margin-top: 20px;
    display: flex;
    padding: 20px;

    img{
        width: fit-content;
        height: fit-content;
    }
}

.manga-details__details-info-title{
    display: flex;
    justify-content: space-between;
}

.manga-details__details-info-favorite{
    margin-top:5px;
    cursor: pointer;
}

.manga-details__details-info-text{
    margin-left: 20px;
}