
//Settings
@import './base/base';
@import './base/settings';

//Components
@import './components/auth';
@import './components/buttons';
@import './components/main';
@import './components/manga-details';
@import './components/reader';
@import './components/header';
@import './components/profile';

.light-grey-text{
    color: $light-grey;
}
.dark-grey-text{
    color: $dark-grey;
}

a{
    text-decoration: none;
}